/* Reseteo de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Roboto, sans-serif;
    background-color: #fcf6e1;
    color: #333;
}

/* Encabezado */
.header {
    text-align: center;
    background-color: #fcf6e1;
    padding: 30px;
    border-bottom: 0px solid #ddd;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    color: #085D6D;
    margin-bottom: 20px;
}

/* Iconos de idioma */
.language-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.flag-icon {
    width: 30px;
    height: 20px;
}

/* Descripción */
.description {
    padding: 40px 20px;
    text-align: center;
    background-color: #fcf6e1;
    margin-bottom: 40px;
}

.intro-text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.details {
    text-align: center;
    margin-top: 30px;
}

.details h2 {
    font-size: 24px;
    color: #085D6D;
    margin-top: 15px;
}

.details p {
    font-size: 16px;
    line-height: 1.5;
}

/* Formulario de información */
.info-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #fcf6e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0); /* Sombra más oscura que el fondo */
    margin-bottom: 40px;
}

.info-form form {
    max-width: 500px;
    width: 100%;
    background-color: #ffffff; /* Mismo color de fondo que el cuerpo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra del formulario */
}

.info-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #085D6D;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #002b36;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #085D6D;
    color: white;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Sección de imágenes (vacía) */
.images {
    text-align: center;
    margin: 20px 0;
}
