/* Reseteo de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Roboto, sans-serif;
    background-color: #fcf6e1;
    color: #333;
}

/* Encabezado */
.header {
    text-align: center;
    background-color: #fcf6e1;
    padding: 30px;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    color: #085D6D;
    margin-bottom: 20px;
}

/* Iconos de idioma */
.language-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.flag-icon {
    width: 30px;
    height: 20px;
}

/* Video */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
}

.video-container iframe {
    width: 100%;
    height: 56.25vw; /* Mantiene el ratio 16:9 */
    max-height: 90vh;
    border: none;
}

/* Descripción */
.description {
    padding: 40px 20px;
    text-align: center;
    background-color: #fcf6e1;
}

.intro-text {
    font-size: 18px;
    line-height: 1.5;
}

/* Sección de Registro e Inicio de Sesión */
.register-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #fcf6e1;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.register-button, .login-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.register-button {
    background-color: #54B567;
    color: white;
}

.register-button:hover {
    background-color: #469a58;
}

.login-button {
    background-color: #085D6D;
    color: white;
}

.login-button:hover {
    background-color: #064a57;
}

/* Formulario de Inicio de Sesión */
.login-form-container {
    text-align: center;
    padding: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form input {
    width: 80%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-submit-button {
    background-color: #085D6D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-submit-button:hover {
    background-color: #064a57;
}

/* Enlace para recuperar contraseña */
.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #085D6D;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
